@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    transform: translateY(-25%);
  }

  50% {
    transform: translateY(4%);
  }

  65% {
    transform: translateY(-2%);
  }

  80% {
    transform: translateY(2%);
  }

  95% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

input {
  padding: 10px;
  font-size: 15px;
  border: none;
}

select {
  color: black;
}

select::placeholder {
  color: black;
}

option {
  color: black;
}

button {
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

:root {
  --green-color: #08ad76;
  --black-color: #2b2c2f;
  --sky-color: #c5cee0;
  --blue-color: #256f98;
  --open-sky-color: #e4e9f2;
  --header-color: #f3f0f0;
  --text-color: #141b5c;
}

/* Alert */
.alert {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  width: auto;
}
.alert-success {
  background-color: #d1e7dd;
  color: #327770;
  border-color: #c3e6cb;
}
.alert-info {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.alert-warning {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #964a4b;
  border-color: #c3e6cb;
}

.info {
  background-color: #08ad76;
  color: #08ad76;
}

.row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

button.primary {
  background-color: #0067b1;
  color: white;
  margin-top: 10px;
}

button.small {
  font-size: 15px;
  background-color: var(--sky-color);
  color: white;
  margin: 5px;
  padding: 8px 10px;
}

button.delete {
  background-color: #dc3545;
}

button.edit {
  background-color: #28a745;
}

ul li {
  padding: 10px;
}

/* Dropdown */
.icondropdown {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: fit-content;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.icondropdown > div {
  margin: 0 5px;
}

.buttondownIcon {
  margin: 5px;
  font-size: 18px;
}

.links-container {
  display: flex;
}

.show-container {
  display: flex;
}

/* Card */
.cardModel {
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s;
}

.cardModel:hover {
  transform: scale(0.96);
  transition: all 0.5s;
}

.item {
  background: #44abe4;
  margin-bottom: 5px;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  padding-top: 10px;
  height: auto;
  max-height: 9999px;
  transition: 3s ease-in-out;
}

.table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 40px;
  margin-bottom: 50px;
}

.tableHeader {
  background-color: #0067b1;
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: 35px;
}

.tableBody {
  color: #0067b1;
  font-size: 18px;
  height: 35px;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  /* text-align: left; */
  border: 0.1rem solid #e4e4e4;
  padding: 0 0.5rem;
}

/* Gallery */
.gallery {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pics {
  width: 28vw;
  margin: 10px;
}

.gallery .pics:hover {
  opacity: 0.7;
}

/* EDIT FORM */
.editFormContainer {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 15px;
  color: black;
  background: #f5f5f5;
  border: #0067b1 0.1em solid;
}

.editFormContainer div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.editFormContainer > label {
  color: #0067b1 !important;
}

.editFormContainer div input,
select,
option,
textarea {
  width: 70%;
  background-color: #fff;
  color: var(--black-color);
  outline: 1px solid #0067b1;
}

.editFormContainer div button {
  width: 100%;
  color: white;
  background-color: #0067b1;
}

.model {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 90000;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.438);
}

.modelbox {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open .closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 2px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
    overflow: hidden;
  }

  .links-container {
    display: none;
  }

  .table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .tableHeader {
    background-color: #0067b1;
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 35px;
  }

  .tableBody {
    color: #0067b1;
    font-size: 12px;
    height: 35px;
  }

  .table tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
  }

  .table td,
  .table th {
    /* text-align: left; */
    border: 0.1rem solid #e4e4e4;
    padding: 0 0.5rem;
  }

  button.small {
    font-size: 8px;
    margin: 5px;
    padding: 10px 4px;
  }

  button.delete {
    background-color: #dc3545;
  }

  button.edit {
    background-color: #28a745;
  }
  .modelbox {
    width: 90%;
    height: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
  }

  .pics {
    width: 90%;
    margin: 10px 0;
  }

  .show-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 0px;
    display: block;
    margin-top: 8vh;
    background-color: #f8f8f8;
    z-index: 1000;
    padding-bottom: 10px;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    background-clip: padding-box;
  }

  .editFormContainer {
    width: 100%;
    text-align: left;
  }

  .editFormContainer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .editFormContainer div input,
  textarea {
    width: 100%;
  }

  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
